schemas/standard/TigerData_StandardMetadataSchema_v1.1a.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Version Notes:
        - Version 1.1a of the TigerData Standard Metadata Schema
            - This is an interim version intended only to support a working version of the Web Portal (the "Space Ghost" epic)
        - Updated on 2025-09-15 by Matt Chandler
-->
<!-- References:
        - As noted in documentation fields below, several elements are derived from DataCite:
            DataCite Metadata Working Group. (2024). DataCite Metadata Schema for the Publication and Citation of Research Data and Other Research Outputs. 
            Version 4.6. DataCite e.V. https://doi.org/10.14454/mzv1-5b55
-->
<!-- Key Concepts:
        - Resource: a digital object in TigerData systems, falling into two classes, projects and items
            - The containing element for the metadata record of every project and item in TigerData is "resource"
            - Common elements and subelements are consistent across classes
        - Project: a conceptual container linking persons to data and metadata, including a persistent identifier, defined roles, and various system settings
            - Projects contain items
            - Projects may contain other projects as subprojects
        - Item: an abstraction of files and folders contained within projects, bearing their own metadata, including persistent identifiers and Data User roles that may vary within a project
            - Every item must belong to at least one project
            - Items may contain other items, in the same way that folders may contain files and subfolders in a file system
-->
<!-- Style Notes:
        - Elements and attributes are defined individually only when needed
            - If a given element is intended to be used in only one place, then it is defined in that place (e.g., within a group)
            - If a given attribute is intended to be used only in one element, then it is defined within that element
            - If a given element or attribute can have multiple applications, then it is called out earlier in the primitives and then referenced where needed
        - camelCase is used for all custom names for types, attributes, elements, and groups (acronyms are lowercase when beginning a name)
        - The name of every simple and complex type ends with "Type" (if the semantic part of the name ends in "Type" then "Type" is still appended to the XML type name, e.g. "relationTypeType")
        - Acronyms and abbreviations are avoided in names and annotations to prevent confusion, but unlike DataCite, some acronyms are used (e.g., ID for identifier)
        - Repeatable elements are typically placed within container elements, and container elements have names that are the plural form of the repeatable element they contain
-->

<!-- Version 1.1a Change Log:
        2025-09-15:
            - Began removing definitions not needed for Space Ghost
                - itemFields group
                - Item-specific definitions: itemDates, itemResourceType, mediafluxAssetIDType
                - Unnecessary project elements and related definitions:
                    - researchDomains, researchDomain, and researchDomainNameType
                    - languages and language
                    - projectVisibility and visibilityType
                    - storagePerformance, storagePerformanceSetting, and storagePerformanceType
                    - globusCollection and its sub-elements
                    - provisionalProject
                    - funded, fundingReferences, fundingReference and its sub-elements
                    - projectDates, startDate, endDate, retirementDate, publicationDate, otherDate, and dateTypeType
                    - projectResourceType
                    - licenses, license, licenseType, licenseURIType, licenseIDType
                    - dataUseAgreement, duaReferences, duaReference and its sub-elements
                    - supplementalMetadata group and resourceTypeGeneral, resourceTypeGeneralType, relatedIDTypeType, relationTypeType
                - Unnecessary attributes and types for retained elements:
                    - 
            - Fixed default values for:
                - schemaVersion (removed stand-alone element and defined inside resource with value fixed at '1.1a')
            - Fixed attributes in resource to apply only to Projects
        
        2025-09-03:
            - Moved schemaVersion out of projectProvenance to be defined as a common element
            - Added schemaVersion to resource as a top-level element that applies to both projects and items
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
    <xs:import schemaLocation="https://www.w3.org/2001/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>
    
<!-- PRIMITIVES -->
    <!-- All of the types, attributes, elements, and groups that are combined to make up a standard metadata payload, which is defined last -->
    
    <!-- Common Types -->
        <!-- Simple and complex types that are either necessary building blocks for further types or that have application in various places (e.g., both elements and attributes) -->
    
    <xs:simpleType name="doiType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for DOI values (just the prefix and suffix; not a full URL)</xs:documentation>
            <xs:documentation xml:lang="en">DOI is short for Digital Object Identifier</xs:documentation>
            <xs:documentation xml:lang="en">Applies a pattern aligned with ISO 26324:2022, allowing any suffix that doesn't have whitespace and doesn't end with unexpected punctuation</xs:documentation>
            <xs:documentation>https://www.iso.org/standard/81599.html</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="10\.\d{4,9}\/[\S]+[^-_!:;,.?/\\\s]"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="projectIDValueType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type for the values of projectID and parentProject fields</xs:documentation>
            <xs:documentation xml:lang="en">Applies to both Projects (projectID and parentProject) and Items (parentProject)</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="doiType">
                <xs:attribute name="projectIDType" fixed="DOI">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Makes explicit that the project ID is always given as a DOI</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="netIDType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for values meant to be a Princeton NetID</xs:documentation>
            <xs:documentation xml:lang="en">Applies a simple pattern that is true for all Princeton NetIDs</xs:documentation>
            <xs:documentation xml:lang="en">Validation of user accounts and permissions happens separate from metadata validation</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9]{2,8}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="puidType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for values meant to be a Princeton University ID (PUID)</xs:documentation>
            <xs:documentation xml:lang="en">Applies a simple pattern that is true for all PUIDs</xs:documentation>
            <xs:documentation xml:lang="en">Validation of user accounts and permissions happens separate from metadata validation</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="limitedTextType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Specification for the practical limit for text values within textType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="textType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type uesed for free text values</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="limitedTextType">
                <xs:attribute ref="xml:lang" default="en"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="limitedTitleType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Specification for the practical limit for text values within titleType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="titleType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type uesed for title values</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="limitedTitleType">
                <xs:attribute ref="xml:lang" default="en"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="shortDescriptionLimitType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Specification for the practical limit for text values within shortDescriptionType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="shortDescriptionType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type uesed for short descriptive values (e.g., itemResourceType and keyword)</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="shortDescriptionLimitType">
                <xs:attribute ref="xml:lang" default="en"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="pathSafeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used within pathType to prevent invalid entries</xs:documentation>
            <xs:documentation xml:lang="en">Restricts to alphanumeric characters, underscore, forward and back slashes, colon, and minus-dash</xs:documentation>
            <xs:documentation xml:lang="en">The typical value is expected to start "/tigerdata/" and follow with a parent folder of at least 3 characters and a project folder of at least 3 characters, with a slash in-between, hence the minimum of 18 characters</xs:documentation>
            <xs:documentation xml:lang="en">The ordinary practical limit of 1000 characters for a text field is too high; Windows systems have a hard limit of 260 characters for the full path, so the directory needs to much less than that to avoid problems, hence the maximum of 128 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[\w\\/:-]{18,128}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="uuidType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for values meant to be Universally Unique Identifiers (e.g., in globusUUID)</xs:documentation>
            <xs:documentation xml:lang="en">Restricts to alphanumeric characters and minus-dashes, with a length ranging from 32 to 36</xs:documentation>
            <xs:documentation xml:lang="en">The most common value is expected to be hexadecimal in 8-4-4-4-12 format, but this type specification is simplified for XML, and therefore more permissive</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[\w-]{32,36}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="byteUnitType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the controlled vocabulary for byte units in storageQuantityType</xs:documentation>
            <xs:documentation xml:lang="en">All byte units are base-10, not base-2</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="B" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Bytes (B)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KB" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Kilobytes (KB)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MB" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Megabytes (MB)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GB" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Gigabytes (GB)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TB" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Terabytes (TB)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PB" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Petabytes (PB)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="dateOrRangeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for values that may be either dates or date ranges</xs:documentation>
            <xs:documentation xml:lang="en">Applies a pattern aligned with RKMS-ISO8601</xs:documentation>
            <xs:documentation>https://www.ukoln.ac.uk/metadata/dcmi/collection-RKMS-ISO8601/</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])(\/\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01]))?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Attribute Types -->
        <!-- Simple types that apply only to attribute values -->
    
    <xs:simpleType name="trackingLevelType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the controlled vocabulary for the trackingLevel attribute</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ResourceRecord">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The respective field should be included in any long-term or crosswalked records for the resource</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="InternalUseOnly">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The respective field is intended for internal (Princeton) use only</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="departmentCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the allowable values for the departmentCode attribute in department</xs:documentation>
            <xs:documentation xml:lang="en">Princeton departments always have a 5-digit numerical code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="protocolType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the controlled vocabulary for the protocol attribute in pathType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NFS" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Network File System (version not tracked)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMB" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Server Message Block (version not tracked)</xs:documentation>
                    <xs:documentation xml:lang="en">Used interchangeably with Common Internet File System (CIFS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S3" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Amazon Simple Storage Service (version not tracked)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
        
    <!-- Common Attributes -->
        <!-- Attribute definitions that are applied in multiple elements -->
    
    <xs:attribute name="inherited" type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard attribute to specify whether a given field's value should be inherited by any child resources</xs:documentation>
            <xs:documentation xml:lang="en">Inheritance is limited to the applicability of the field to the child resource (e.g., researchDomain may be inherited by a subproject but not an item)</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    
    <xs:attribute name="discoverable" type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard attribute to specify whether a given field should be discoverable to search operations within TigerData systems</xs:documentation>
        </xs:annotation>
    </xs:attribute>
            
    <xs:attribute name="trackingLevel" type="trackingLevelType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard attribute to specify the tracking level of a given field (ResourceRecord or InternalUseOnly)</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    
    <xs:attribute name="approved" type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard attribute to specify whether a given field has an approved value</xs:documentation>
            <xs:documentation xml:lang="en">Applies to fields which have a request-approval framework, including projectDirectory, storageCapacity, and storagePerformance</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    
    <!-- Element Types -->
        <!-- Simple and complex types used to construct element definitions -->
    
    <xs:complexType name="userType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for user fields</xs:documentation>
            <xs:documentation xml:lang="en">Given the required attribute userID, all sub-elements are optional, so the element for a given user field may be left empty</xs:documentation>
            <xs:documentation xml:lang="en">If the sub-element netID is included, its value should match that of the userID attribute</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="netID" type="netIDType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The Princeton University NetID (also called the OIT NetID) is the name or user-id that identifies a person to a computer system or electronic service at Princeton.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PUID" type="puidType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The Princeton University ID (aka Student ID, Employee ID, EMPLID, Princeton ID, or PUID) is a unique nine digit identifier assigned to an individual who has an official affiliation with the University.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="orcid" type="xs:anyURI" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The ORCID ID URL for the person in a given role, if available and if verified as valid against the ORCID API upon entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fullName" type="limitedTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The full name of the person in a given role, verified in the format family-comma-given and matching the corresponding given and family name fields, if available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="givenName" type="limitedTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The given name(s) of the person in a given role. If the person has multiple given names, then all should be included in this field, along with any suffixes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="familyName" type="limitedTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The family name(s) of the person in a given role. If the person has multiple family names, then all should be included in this field.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nameDate" type="dateOrRangeType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The date at which the name metadata was recorded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="alternativeNameIdentifier" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Records alternative (non-ORCID) identifier(s) for the person in a given role.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="nameIdentifierSchema" type="limitedTextType" use="required">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">The name of the schema to which the name identifier belongs (required when an alternative name identifier is given).</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="schemaURI" type="xs:anyURI" use="required">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">The URI of the schema to which the name identifier belongs (required when an alternative name identifier is given).</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="userID" type="netIDType" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the (locally) unique user ID</xs:documentation>
                <xs:documentation xml:lang="en">If a value is given for the sub-element netID, then it should match the value given for userID</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="userIDType" type="xs:string" fixed="NetID">
            <xs:annotation>
                <xs:documentation xml:lang="en">Makes explicit that Princeton NetIDs are always used as the identifier for the userID attribute</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:simpleType name="departmentType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the allowable values for department</xs:documentation>
            <xs:documentation xml:lang="en">Applies to all projects, regardless of projectPurpose</xs:documentation>
            <xs:documentation xml:lang="en">Princeton department names typically start with a 2- or 3-character abbreviation, followed by a minus-dash, and then a short description; however, several exceptions exist</xs:documentation>
            <xs:documentation xml:lang="en">The enforceable pattern is a string length from 6 to 38 (the real string max is 30, but we need to account for XML escape sequences for special characters)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="38"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="pathType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for file path values</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="pathSafeType">
                <xs:attribute name="protocol" type="protocolType" default="NFS">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The storage connection protocol that defines how the path is written</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="quantityType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for generic quantity values</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="size" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The numeric size of the quantity</xs:documentation>
                    <xs:documentation xml:lang="en">The practical limits for floating point values set by Mediaflux are the range [4.9E-324,1.7976931348623157E308]</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The standardized unit of measure for the quantity</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="storageQuantityType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for storage quantity values</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="size" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The numeric size of the storage quantity</xs:documentation>
                    <xs:documentation xml:lang="en">The practical limits for floating point values set by Mediaflux are the range [4.9E-324,1.7976931348623157E308]</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="byteUnitType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The logical byte unit for the storage quantity (base-10)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="fileEstimateType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the controlled vocabulary for the numberOfFiles field</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Less than 10,000" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is estimated to include less than 10,000 files at any one time</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10k - 100k" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is estimated to include between 10,000 and 100,000 files at any one time</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="100k - 1mil" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is estimated to include between 100,000 and 1,000,000 files at any one time</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="More than 1 million" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is estimated to include more than 1,000,000 files at any one time</xs:documentation>
                    <xs:documentation xml:lang="en">A special request may be required for this largest category</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="hpcType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the controlled vocabulary for the hpc field</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="No" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is not expected to connect to high performance computing resources</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Yes" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is expected to connect to high performance computing resources</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Not Sure" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The submitter is unsure whether the project will need to connect to high performance computing resources</xs:documentation>
                    <xs:documentation xml:lang="en">More conversation may be required to clarify needs</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="projectPurposeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the controlled vocabulary for the projectPurpose field</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Research" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is intended to contain mainly research data</xs:documentation>
                    <xs:documentation xml:lang="en">This includes projects for labs and research groups; it is not restricted to one specific research project</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Administrative" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is intended to contain mainly administrative data</xs:documentation>
                    <xs:documentation xml:lang="en">This includes library and other staff-managed archive use-cases</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Teaching" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is intended to contain mainly data related to teaching and learning activities</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="statusType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type that defines the controlled vocabulary for the status field</xs:documentation>
            <xs:documentation xml:lang="en">Applies only to Projects</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AdminReview" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project request has been submitted, with approval by the assigned Data Sponsor, but it is not yet approved by a System Administrator</xs:documentation>
                    <xs:documentation xml:lang="en">Applies if the submission field lacks complete approvedBy or approvalDateTime subfields</xs:documentation>
                    <xs:documentation xml:lang="en">This is typically the initial status of a project record; it marks the point at which a DOI is minted for the projectID</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Approved" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project has been approved by the assigned Data Sponsor and a System Administrator, but it is not yet active (i.e., not yet ready for the users)</xs:documentation>
                    <xs:documentation xml:lang="en">Applies if the submission field has complete approvedBy and approvalDateTime subfields, but the frontend has not yet confirmed the project's collection ID in Mediaflux</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Active" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project is live: approved and available to users</xs:documentation>
                    <xs:documentation xml:lang="en">Applies if the submission field has complete approvedBy and approvalDateTime subfields, the frontend has confirmed the project's collection ID in Mediaflux, and the project has been neither retired nor published</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Retired" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project has been retired due to lack of use or by request of the Data Sponsor or the Data Manager</xs:documentation>
                    <xs:documentation xml:lang="en">Applies if the the retirement field has complete approvedBy and approvalDateTime subfields</xs:documentation>
                    <xs:documentation xml:lang="en">If the retirementDate field is filled, then the change to Retired status is expected to occur on or after the retirementDate</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Published" xml:lang="en">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The project has been published</xs:documentation>
                    <xs:documentation xml:lang="en">Applies if the the publication field has complete approvedBy and approvalDateTime subfields</xs:documentation>
                    <xs:documentation xml:lang="en">If the publicationDate field is filled, then the change to Published status is expected to occur on or after the publicationDate</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Common Elements -->
        <!-- Element definitions that appear in multiple groups and/or apply to both projects and items -->
    
    <xs:element name="alternativeID">
        <xs:annotation>
            <xs:documentation xml:lang="en">An alternative identifier for the resource (not the standard TigerData projectID or itemID), given as a string</xs:documentation>
            <xs:documentation xml:lang="en">May apply to either Projects or Items</xs:documentation>
            <xs:documentation xml:lang="en">Modeled after the DataCite definition for RelatedIdentifier (v4.6+)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="limitedTextType">
                    <xs:attribute name="alternativeIDType" type="limitedTextType" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">A simple description of the alternative ID type (e.g. "Local accession number")</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute ref="inherited" default="false"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="alternativeIDs">
        <xs:annotation>
            <xs:documentation xml:lang="en">The container element for all alternative IDs for a resource</xs:documentation>
            <xs:documentation xml:lang="en">May apply to either Projects or Items</xs:documentation>
            <xs:documentation xml:lang="en">If this element is present, then it should contain at least one sub-element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="alternativeID" minOccurs="1" maxOccurs="100"/>
            </xs:sequence>
            <xs:attribute ref="discoverable" default="true"/>
            <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="parentProject">
        <xs:annotation>
            <xs:documentation xml:lang="en">The ID of the project to which the resource belongs directly</xs:documentation>
            <xs:documentation xml:lang="en">Applies to both Projects and Items</xs:documentation>
            <xs:documentation xml:lang="en">Takes precedence over any IsChildOf relations to other projects</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="projectIDValueType">
                    <xs:attribute ref="inherited" default="true"/>
                    <xs:attribute ref="discoverable" fixed="true"/>
                    <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dataSponsor">
        <xs:annotation>
            <xs:documentation xml:lang="en">The person who takes primary responsibility for the project</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="userType">
                    <xs:attribute ref="inherited" fixed="true"/>
                    <xs:attribute ref="discoverable" fixed="true"/>
                    <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dataManager">
        <xs:annotation>
            <xs:documentation xml:lang="en">The person who manages the day-to-day activities for the project</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="userType">
                    <xs:attribute ref="inherited" default="true"/>
                    <xs:attribute ref="discoverable" default="true"/>
                    <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dataUser">
        <xs:annotation>
            <xs:documentation xml:lang="en">A person who has access privileges to the resource</xs:documentation>
            <xs:documentation xml:lang="en">May apply to either Projects or Items</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="userType">
                    <xs:attribute name="readOnly" type="xs:boolean" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Specifies whether the data user has read-only access to the resource (if false, then read-write access is granted)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute ref="inherited" default="true"/>
                    <xs:attribute ref="discoverable" default="false"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dataUsers">
        <xs:annotation>
            <xs:documentation xml:lang="en">The container element for all data users of a resource</xs:documentation>
            <xs:documentation xml:lang="en">May apply to either Projects or Items</xs:documentation>
            <xs:documentation xml:lang="en">If this element is present, then it should contain at least one sub-element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dataUser" minOccurs="1" maxOccurs="100"/>
            </xs:sequence>
            <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="title">
        <xs:annotation>
            <xs:documentation xml:lang="en">A plain-language title for the resource</xs:documentation>
            <xs:documentation xml:lang="en">May apply to either Projects or Items</xs:documentation>
            <xs:documentation xml:lang="en">Restricted to fewer characters than the typical free-text limitations</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="titleType">
                    <xs:attribute ref="inherited" fixed="false"/>
                    <xs:attribute ref="discoverable" fixed="true"/>
                    <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="description">
        <xs:annotation>
            <xs:documentation xml:lang="en">A plain-language description of the resource and/or its contents</xs:documentation>
            <xs:documentation xml:lang="en">May apply to either Projects or Items</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="textType">
                    <xs:attribute ref="inherited" fixed="false"/>
                    <xs:attribute ref="discoverable" fixed="true"/>
                    <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
       
    <!-- Subelement Groups -->
        <!-- Group definitions for elements that appear only as subelements of other defined elements -->
    
    <xs:group name="provenanceSubfields">
        <xs:annotation>
            <xs:documentation xml:lang="en">The group of all standard subfields included in project provenance fields</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="requestedBy" type="userType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The person who made the request</xs:documentation>
                    <xs:documentation xml:lang="en">May be an eligible Data Sponsor or Data Manager, a System Administrator, or a technical service account</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="requestDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The date and time the request was made</xs:documentation>
                    <xs:documentation xml:lang="en">Include the time zone at the location of the host institution</xs:documentation>
                    <xs:documentation xml:lang="en">Princeton University is in the Eastern Time Zone (UTC-05:00 during Eastern Standard Time and UTC-04:00 during Eastern Daylight Time)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="approvedBy" type="userType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The person who approved the request</xs:documentation>
                    <xs:documentation xml:lang="en">Should be a System Administrator</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="approvalDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The date and time the request was approved</xs:documentation>
                    <xs:documentation xml:lang="en">Include the time zone at the location of the host institution</xs:documentation>
                    <xs:documentation xml:lang="en">Princeton University is in the Eastern Time Zone (UTC-05:00 during Eastern Standard Time and UTC-04:00 during Eastern Daylight Time)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deniedBy" type="userType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The person who denied the request</xs:documentation>
                    <xs:documentation xml:lang="en">Should be a System Administrator</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="denialDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The date and time the request was denied</xs:documentation>
                    <xs:documentation xml:lang="en">Include the time zone at the location of the host institution</xs:documentation>
                    <xs:documentation xml:lang="en">Princeton University is in the Eastern Time Zone (UTC-05:00 during Eastern Standard Time and UTC-04:00 during Eastern Daylight Time)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="eventNote" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:documentation xml:lang="en">A supplementary record of noteworthy details for a given provenance event</xs:documentation>
                    <xs:documentation xml:lang="en">Intended to be retained in a running log of all noteworthy events</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="noteBy" type="userType" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The person making the note</xs:documentation>
                                <xs:documentation xml:lang="en">Should be a System Administrator</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="noteDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The date and time the note was made</xs:documentation>
                                <xs:documentation xml:lang="en">Include the time zone at the location of the host institution</xs:documentation>
                                <xs:documentation xml:lang="en">Princeton University is in the Eastern Time Zone (UTC-05:00 during Eastern Standard Time and UTC-04:00 during Eastern Daylight Time)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="eventType" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">A general category label for the event note</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Collection" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Event note records the assignment of or change to the project's Mediaflux collection ID</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Directory" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Event note pertains to the project's directory or mount point</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Quota" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Event note pertains to the project's quota settings in Mediaflux</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Tier" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Event note pertains to the project's storage tier</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Sponsor" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Event note records any changes to the project's Data Sponsor</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Revision" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Event note explains the return of the project request to the submitter for revision</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Denial" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Event note explains the denial of the project request</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="Other" xml:lang="en">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The event note is not otherwise classified</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="message" type="textType" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The plain-language message contents of the event note</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
    <!-- Element Groups -->
        <!-- Group definitions for elements, including some reference to common elements and some new element definitions within -->
        
    <xs:group name="projectRoles">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData project roles</xs:documentation>
            <xs:documentation xml:lang="en">Requires 1 Data Sponsor and 1 Data Manager; Data Users are optional and repeatable</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dataSponsor" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="dataManager" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="dataUsers" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
       
    <xs:group name="projectDescription">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData project descriptions</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="departments" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The container element for all departments for a project</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="department" minOccurs="1" maxOccurs="100">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The primary Princeton University department(s) affiliated with the project</xs:documentation>
                                <xs:documentation xml:lang="en">Use the canonical name for each recorded department</xs:documentation>
                                <xs:documentation xml:lang="en">Princeton department names typically start with a 2- or 3-character abbreviation, followed by a minus-dash, and then a short description</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="departmentType">
                                        <xs:attribute name="departmentCode" type="departmentCodeType" use="required">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">Records the numerical code for the department (required)</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute ref="inherited" default="true"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute ref="discoverable" fixed="true"/>
                    <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="projectDirectory" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The locally unique name for the projects directory</xs:documentation>
                    <xs:documentation xml:lang="en">The typical value is expected to be in NFS protocol</xs:documentation>
                    <xs:documentation xml:lang="en">A parent folder is recommended to organize projects by groups (e.g., lab or principal investigator)</xs:documentation>
                    <xs:documentation xml:lang="en">If no user request was received and no value has yet been approved, then this field may be empty</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="projectDirectoryPath" type="pathType" minOccurs="0" maxOccurs="100">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">A current setting for projectDirectory (omitted until approved)</xs:documentation>
                                <xs:documentation xml:lang="en">After approval, this value should be updated to match the approved value (in rare cases, the current setting may later deviate from the approved value)</xs:documentation>
                                <xs:documentation xml:lang="en">Multiple elements are allowed to specify paths in alternative protocols, using the protocol attribute</xs:documentation>
                                <xs:documentation xml:lang="en">Example NFS path: /tigerdata/parent-folder/project-folder</xs:documentation>
                                <xs:documentation xml:lang="en">Example SMB path: \\tigerdata-smb\parent-folder\project-folder</xs:documentation>
                                <xs:documentation xml:lang="en">Example S3 path: S3://princeton/tigerdata/parent-folder/project-folder</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="requestedValue" type="pathType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The requested value for projectDirectory (omitted if no user request was received)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="approvedValue" type="pathType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The approved value for projectDirectory (omitted if no sys admin has approved yet)</xs:documentation>
                                <xs:documentation xml:lang="en">Once approved, the approved attribute should also be set to true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute ref="approved" default="false"/>
                    <xs:attribute ref="inherited" fixed="false"/>
                    <xs:attribute ref="discoverable" fixed="false"/>
                    <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                </xs:complexType>
            </xs:element>
            <xs:element ref="title" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="storageAndAccess">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData project storage and access needs</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="storageCapacity" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The amount of storage allotted for the project (using logical byte units, base-10)</xs:documentation>
                    <xs:documentation xml:lang="en">If no user request was received and no value has yet been approved, then this field may be empty</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="storageCapacitySetting" type="storageQuantityType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The current setting for storageCapacity (omitted until approved)</xs:documentation>
                                <xs:documentation xml:lang="en">After the implementation of the approval, this value should be updated to match the approvedValue</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="requestedValue" type="storageQuantityType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The requested value for storageCapacity (omitted if no user request was received)</xs:documentation>
                                <xs:documentation xml:lang="en">This field gets updated when a Data Sponsor or Data Manager requests a change in storage capacity on an active project</xs:documentation>
                                <xs:documentation xml:lang="en">Depending on the amount requested, a System Administrator may ask the Data Sponsor for more justification for the request</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="approvedValue" type="storageQuantityType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The approved value for storageCapacity (omitted if no sys admin has approved yet)</xs:documentation>
                                <xs:documentation xml:lang="en">Once approved for initial project setup, the approved attribute should also be set to true</xs:documentation>
                                <xs:documentation xml:lang="en">If the Data Sponsor or Data Manager requests a change in storage capacity, then the approval of the new amount will change the approvedValue</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute ref="approved" default="false"/>
                    <xs:attribute ref="inherited" fixed="false"/>
                    <xs:attribute ref="discoverable" fixed="false"/>
                    <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="numberOfFiles" minOccurs="1" maxOccurs="1" default="Less than 10,000">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The estimated number of files the project will incorporate (default is Less than 10,000)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="fileEstimateType">
                            <xs:attribute ref="inherited" default="false"/>
                            <xs:attribute ref="discoverable" fixed="false"/>
                            <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="hpc" minOccurs="1" maxOccurs="1" default="No">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Whether the project is expected to connect to high performance computing resources (default is No)</xs:documentation>
                    <xs:documentation xml:lang="en">This value must be Yes for a project to be mounted to any HPC cluster</xs:documentation>
                    <xs:documentation xml:lang="en">If this value is No, then smbEnable is likely needed</xs:documentation>
                    <xs:documentation xml:lang="en">If this value is Not Sure, then a System Administrator should follow up with the Data Sponsor to clarify needs</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="hpcType">
                            <xs:attribute ref="inherited" default="true"/>
                            <xs:attribute ref="discoverable" fixed="false"/>
                            <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="accessPoints" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Records requests/approvals and settings for SMB shares and Globus endpoints</xs:documentation>
                    <xs:documentation xml:lang="en">If this element is present, then it should contain at least one sub-element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="smbEnable" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">Whether a project has an SMB share enabled</xs:documentation>
                                <xs:documentation xml:lang="en">By default, projects do not get an SMB share, but if the hpc value is No, then smbEnable is likely needed</xs:documentation>
                                <xs:documentation xml:lang="en">If an SMB share is approved and set, then the SMB path should be included in projectDirectoryPath</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="smbEnableSetting" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The current setting for smbEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="requestedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The requested value for smbEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="approvedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The approved value for smbEnable (false by default)</xs:documentation>
                                            <xs:documentation xml:lang="en">If approvedValue is true, then smbEnableSetting and the approved attribute should also be set to true</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute ref="approved" default="false"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="globusEnable" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">Whether a project has a Globus collection enabled</xs:documentation>
                                <xs:documentation xml:lang="en">By default, projects do not get a Globus collection</xs:documentation>
                                <xs:documentation xml:lang="en">If a Globus collection is approved and set, then the details should be given in globusCollection</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="globusEnableSetting" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The current setting for globusEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="requestedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The requested value for globusEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="approvedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The approved value for globusEnable (false by default)</xs:documentation>
                                            <xs:documentation xml:lang="en">If approvedValue is true, then globusEnableSetting and the approved attribute should also be set to true</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute ref="approved" default="false"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute ref="inherited" fixed="false"/>
                    <xs:attribute ref="discoverable" fixed="false"/>
                    <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:group name="additionalProjectInformation">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData additional project information fields</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="projectPurpose" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The high-level category for the purpose of the project</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="projectPurposeType">
                            <xs:attribute ref="inherited" default="true"/>
                            <xs:attribute ref="discoverable" fixed="true"/>
                            <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
    <!-- Composite Groups -->
        <!-- Group definitions that include references to prior group definitions, along with some new element defintions within -->
    
    <xs:group name="projectFields">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements/groups included in the TigerData standard metadata for projects</xs:documentation>
            <xs:documentation xml:lang="en">Does not apply to Items</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="projectID" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The universally unique identifier for the project (required)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="projectIDValueType">
                            <xs:attribute ref="inherited" fixed="false"/>
                            <xs:attribute ref="discoverable" fixed="true"/>
                            <xs:attribute ref="trackingLevel" fixed="ResourceRecord"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element ref="alternativeIDs" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="parentProject" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="projectRoles"/>
            <xs:group ref="projectDescription"/>
            <xs:group ref="storageAndAccess"/>
            <xs:group ref="additionalProjectInformation"/>
            <xs:group ref="supplementalMetadata"/>
            <xs:element name="projectProvenance" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The container element for all TigerData project provenance fields (required)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="submission" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">A record of a projects initial submission (required)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:group ref="provenanceSubfields"/>
                                <xs:attribute ref="inherited" fixed="false"/>
                                <xs:attribute ref="discoverable" fixed="false"/>
                                <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="revisions" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The container element for all revision records, if applicable</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="revision" minOccurs="1" maxOccurs="100">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">A record of a major revision to an active project</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:group ref="provenanceSubfields"/>
                                            <xs:attribute ref="inherited" default="false"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute ref="discoverable" fixed="false"/>
                                <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="retirement" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">A record of a projects retirement, if applicable</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:group ref="provenanceSubfields"/>
                                <xs:attribute ref="inherited" fixed="true"/>
                                <xs:attribute ref="discoverable" fixed="false"/>
                                <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="publication" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">A record of a projects publication, if applicable</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:group ref="provenanceSubfields"/>
                                <xs:attribute ref="inherited" fixed="true"/>
                                <xs:attribute ref="discoverable" fixed="false"/>
                                <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="status" minOccurs="1" maxOccurs="1" default="AdminReview">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The current status of the project (required)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="statusType">
                                        <xs:attribute ref="inherited" default="false"/>
                                        <xs:attribute ref="discoverable" fixed="true"/>
                                        <xs:attribute ref="trackingLevel" fixed="InternalUseOnly"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
<!-- PAYLOAD -->
    <!-- The definition for a standard metadata payload, constructed from the above primitives -->
    
    <xs:element name="resource">
        <xs:annotation>
            <xs:documentation xml:lang="en">Root element of any metadata record for TigerData resources (projects and items).</xs:documentation>
            <xs:documentation xml:lang="en">If the resourceClass is Project, then the projectFields group must be used. If the resourceClass is Item, then the itemFields group must be used.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="projectFields"/>
                <xs:element name="schemaVersion" fixed="1.1a"/>
            </xs:sequence>
            <xs:attribute name="resourceClass" fixed="Project">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the class of a given resource: either Project or Item (required)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Project" xml:lang="en"/>
                        <xs:enumeration value="Item" xml:lang="en"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="resourceID" type="limitedTextType" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The unique identifier for the resource within TigerData systems (required)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="resourceIDType" fixed="DOI">
                <xs:annotation>
                    <xs:documentation xml:lang="en">If the resourceClass is Project, then the resourceID should be a DOI; if Item, then the resourceID should be a Mediaflux AssetID (MFAID)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DOI"/>
                        <xs:enumeration value="MFAID"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>
