schemas/standard/TigerData_StandardMetadataSchema_v1.1a.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Version Notes:
        - Version 1.1a of the TigerData Standard Metadata Schema
            - This is an interim version intended only to support a working version of the Web Portal (the "Space Ghost" epic)
        - Updated on 2025-09-24 by Matt Chandler
-->
<!-- References:
        - As noted in documentation fields below, several elements are derived from DataCite:
            DataCite Metadata Working Group. (2024). DataCite Metadata Schema for the Publication and Citation of Research Data and Other Research Outputs. 
            Version 4.6. DataCite e.V. https://doi.org/10.14454/mzv1-5b55
-->
<!-- Version 1.1a Change Log:
        2025-09-24:
            - Made sure every element and attribute is explicitly either a string or a boolean
            - Removed the enumeration from resourceClass
            - Removed "Key Concepts" and "Style Notes" from the header comments
        
        2025-09-23:
            - Unnecessary project elements and related definitions:
                - alternativeID and alternativeIDs
                - parentProject
                - projectProvenance, provenanceSubfields, and related definitions
                - subelements from userType
            - Unnecessary attributes and types for retained elements:
                - doiType
                - netIDType and puidType
                - limitedTextType, textType, limitedTitleType, titleType, shortDescriptionLimitType, and shortDescriptionType
                - pathSafeType, pathType, and uuidType
                - byteUnitType
                - dateOrRangeType
                - trackingLevel and trackingLevelType
                - inherited, discoverable, and approved
                - departmentCodeType
                - protocolType
                - userIDType
                - departmentType
                - quantityType (note: this may not be needed in 1.1 at all)
                - fileEstimateType and hpcType
                - projectPurposeType
            - Revised types to all be strings (with no patterns or limits) or booleans
                - Removed annotations that no longer apply as a result
            - Removed references to Items
        
        2025-09-15:
            - Began removing definitions not needed for Space Ghost
                - itemFields group
                - Item-specific definitions: itemDates, itemResourceType, mediafluxAssetIDType
                - Unnecessary project elements and related definitions:
                    - researchDomains, researchDomain, and researchDomainNameType
                    - languages and language
                    - projectVisibility and visibilityType
                    - storagePerformance, storagePerformanceSetting, and storagePerformanceType
                    - globusCollection and its sub-elements
                    - provisionalProject
                    - funded, fundingReferences, fundingReference and its sub-elements
                    - projectDates, startDate, endDate, retirementDate, publicationDate, otherDate, and dateTypeType
                    - projectResourceType
                    - licenses, license, licenseType, licenseURIType, licenseIDType
                    - dataUseAgreement, duaReferences, duaReference and its sub-elements
                    - supplementalMetadata group and resourceTypeGeneral, resourceTypeGeneralType, relatedIDTypeType, relationTypeType
            - Fixed default values for:
                - schemaVersion (removed stand-alone element and defined inside resource with value fixed at '1.1a')
            - Fixed attributes in resource to apply only to Projects
        
        2025-09-03:
            - Moved schemaVersion out of projectProvenance to be defined as a common element
            - Added schemaVersion to resource as a top-level element that applies to both projects and items
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
    <xs:import schemaLocation="https://www.w3.org/2001/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>
    
<!-- PRIMITIVES -->
    <!-- All of the types, attributes, elements, and groups that are combined to make up a standard metadata payload, which is defined last -->
    
    <!-- Common Types -->
        <!-- Simple and complex types that are either necessary building blocks for further types or that have application in various places (e.g., both elements and attributes) -->
    
    <xs:complexType name="projectIDValueType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type for the values of projectID and parentProject fields</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="projectIDType" type="xs:string" fixed="DOI">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Makes explicit that the project ID is always given as a DOI</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
        
    <!-- Element Types -->
        <!-- Simple and complex types used to construct element definitions -->
    
    <xs:complexType name="userType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for user fields</xs:documentation>
            <xs:documentation xml:lang="en">Given the required attribute userID, all sub-elements are optional, so the element for a given user field may be left empty</xs:documentation>
            <xs:documentation xml:lang="en">If the sub-element netID is included, its value should match that of the userID attribute</xs:documentation>
        </xs:annotation>
        <xs:attribute name="userID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the (locally) unique user ID</xs:documentation>
                <xs:documentation xml:lang="en">If a value is given for the sub-element netID, then it should match the value given for userID</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="storageQuantityType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard type used for storage quantity values</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="size" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The numeric size of the storage quantity</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The logical byte unit for the storage quantity (base-10)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
        
    <!-- Common Elements -->
        <!-- Element definitions that appear in multiple groups and/or apply to both projects and items -->
    
    <xs:element name="dataSponsor" type="userType">
        <xs:annotation>
            <xs:documentation xml:lang="en">The person who takes primary responsibility for the project</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="dataManager" type="userType">
        <xs:annotation>
            <xs:documentation xml:lang="en">The person who manages the day-to-day activities for the project</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="dataUser">
        <xs:annotation>
            <xs:documentation xml:lang="en">A person who has access privileges to the resource</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="userType">
                    <xs:attribute name="readOnly" type="xs:boolean" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Specifies whether the data user has read-only access to the resource (if false, then read-write access is granted)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dataUsers">
        <xs:annotation>
            <xs:documentation xml:lang="en">The container element for all data users of a resource</xs:documentation>
            <xs:documentation xml:lang="en">If this element is present, then it should contain at least one sub-element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dataUser" minOccurs="1" maxOccurs="100"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="title" type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="en">A plain-language title for the resource</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="description" type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="en">A plain-language description of the resource and/or its contents</xs:documentation>
        </xs:annotation>
    </xs:element>
        
    <!-- Element Groups -->
        <!-- Group definitions for elements, including some reference to common elements and some new element definitions within -->
        
    <xs:group name="projectRoles">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData project roles</xs:documentation>
            <xs:documentation xml:lang="en">Requires 1 Data Sponsor and 1 Data Manager; Data Users are optional and repeatable</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dataSponsor" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="dataManager" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="dataUsers" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
       
    <xs:group name="projectDescription">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData project descriptions</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="departments" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The container element for all departments for a project</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="department" minOccurs="1" maxOccurs="100">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The primary Princeton University department(s) affiliated with the project</xs:documentation>
                                <xs:documentation xml:lang="en">Use the canonical name for each recorded department</xs:documentation>
                                <xs:documentation xml:lang="en">Princeton department names typically start with a 2- or 3-character abbreviation, followed by a minus-dash, and then a short description</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="departmentCode" type="xs:string" use="required">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">Records the numerical code for the department (required)</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="projectDirectory" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The locally unique name for the project’s directory</xs:documentation>
                    <xs:documentation xml:lang="en">The typical value is expected to be in NFS protocol</xs:documentation>
                    <xs:documentation xml:lang="en">A parent folder is recommended to organize projects by groups (e.g., lab or principal investigator)</xs:documentation>
                    <xs:documentation xml:lang="en">If no user request was received and no value has yet been approved, then this field may be empty</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="projectDirectoryPath" type="xs:string" minOccurs="0" maxOccurs="100">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">A current setting for projectDirectory (omitted until approved)</xs:documentation>
                                <xs:documentation xml:lang="en">After approval, this value should be updated to match the approved value (in rare cases, the current setting may later deviate from the approved value)</xs:documentation>
                                <xs:documentation xml:lang="en">Multiple elements are allowed to specify paths in alternative protocols, using the protocol attribute</xs:documentation>
                                <xs:documentation xml:lang="en">Example NFS path: /tigerdata/parent-folder/project-folder</xs:documentation>
                                <xs:documentation xml:lang="en">Example SMB path: \\tigerdata-smb\parent-folder\project-folder</xs:documentation>
                                <xs:documentation xml:lang="en">Example S3 path: S3://princeton/tigerdata/parent-folder/project-folder</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="requestedValue" type="xs:string" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The requested value for projectDirectory (omitted if no user request was received)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="approvedValue" type="xs:string" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The approved value for projectDirectory (omitted if no sys admin has approved yet)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="title" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="storageAndAccess">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData project storage and access needs</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="storageCapacity" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The amount of storage allotted for the project (using logical byte units, base-10)</xs:documentation>
                    <xs:documentation xml:lang="en">If no user request was received and no value has yet been approved, then this field may be empty</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="storageCapacitySetting" type="storageQuantityType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The current setting for storageCapacity (omitted until approved)</xs:documentation>
                                <xs:documentation xml:lang="en">After the implementation of the approval, this value should be updated to match the approvedValue</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="requestedValue" type="storageQuantityType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The requested value for storageCapacity (omitted if no user request was received)</xs:documentation>
                                <xs:documentation xml:lang="en">This field gets updated when a Data Sponsor or Data Manager requests a change in storage capacity on an active project</xs:documentation>
                                <xs:documentation xml:lang="en">Depending on the amount requested, a System Administrator may ask the Data Sponsor for more justification for the request</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="approvedValue" type="storageQuantityType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">The approved value for storageCapacity (omitted if no sys admin has approved yet)</xs:documentation>
                                <xs:documentation xml:lang="en">Once approved for initial project setup, the approved attribute should also be set to true</xs:documentation>
                                <xs:documentation xml:lang="en">If the Data Sponsor or Data Manager requests a change in storage capacity, then the approval of the new amount will change the approvedValue</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="numberOfFiles" type="xs:string" minOccurs="1" maxOccurs="1" fixed="Less than 10,000">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The estimated number of files the project will incorporate (default is Less than 10,000)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hpc" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Whether the project is expected to connect to high performance computing resources (default is false)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="accessPoints" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Records requests/approvals and settings for SMB shares and Globus endpoints</xs:documentation>
                    <xs:documentation xml:lang="en">If this element is present, then it should contain at least one sub-element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="smbEnable" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">Whether a project has an SMB share enabled</xs:documentation>
                                <xs:documentation xml:lang="en">By default, projects do not get an SMB share, but if the hpc value is No, then smbEnable is likely needed</xs:documentation>
                                <xs:documentation xml:lang="en">If an SMB share is approved and set, then the SMB path should be included in projectDirectoryPath</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="smbEnableSetting" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The current setting for smbEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="requestedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The requested value for smbEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="approvedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The approved value for smbEnable (false by default)</xs:documentation>
                                            <xs:documentation xml:lang="en">If approvedValue is true, then smbEnableSetting and the approved attribute should also be set to true</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="globusEnable" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">Whether a project has a Globus collection enabled</xs:documentation>
                                <xs:documentation xml:lang="en">By default, projects do not get a Globus collection</xs:documentation>
                                <xs:documentation xml:lang="en">If a Globus collection is approved and set, then the details should be given in globusCollection</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="globusEnableSetting" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The current setting for globusEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="requestedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The requested value for globusEnable (false by default)</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="approvedValue" type="xs:boolean" maxOccurs="1" default="false">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The approved value for globusEnable (false by default)</xs:documentation>
                                            <xs:documentation xml:lang="en">If approvedValue is true, then globusEnableSetting and the approved attribute should also be set to true</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:group name="additionalProjectInformation">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements included in TigerData additional project information fields</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="projectPurpose" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The high-level category for the purpose of the project</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
    <!-- Composite Groups -->
        <!-- Group definitions that include references to prior group definitions, along with some new element defintions within -->
    
    <xs:group name="projectFields">
        <xs:annotation>
            <xs:documentation xml:lang="en">A group of all elements/groups included in the TigerData standard metadata for projects</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="projectID" type="projectIDValueType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The universally unique identifier for the project (required)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="projectRoles"/>
            <xs:group ref="projectDescription"/>
            <xs:group ref="storageAndAccess"/>
            <xs:group ref="additionalProjectInformation"/>
        </xs:sequence>
    </xs:group>
    
<!-- PAYLOAD -->
    <!-- The definition for a standard metadata payload, constructed from the above primitives -->
    
    <xs:element name="resource">
        <xs:annotation>
            <xs:documentation xml:lang="en">Root element of any metadata record for TigerData resources</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="projectFields"/>
                <xs:element name="schemaVersion" type="xs:string" fixed="1.1a"/>
            </xs:sequence>
            <xs:attribute name="resourceClass" type="xs:string" fixed="Project">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the class of a given resource</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="resourceID" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The unique identifier for the resource within TigerData systems (required)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="resourceIDType" type="xs:string" fixed="DOI">
                <xs:annotation>
                    <xs:documentation xml:lang="en">If the resourceClass is Project, then the resourceID should be a DOI</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>
